.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-right: 2em;
    padding-left: 3rem;
}
.navbar-logo img{
    width: 10rem;
    cursor: pointer;
}
.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navbar-li{
    width: 15%;
}