.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-right: 2em;
    padding-left: 3rem;
}
.navbar-dp{
    border-radius: 50%;
}
.navbar-logo img{
    width: 10rem;
    cursor: pointer;
}
.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.navbar-li{
    width: 15%;
}
.list li{
    cursor:pointer;
}
.streak-map{
    padding: 0.5rem;
}

.profile{
    width: 100%;
}
.container-left{
    width: 30%;
    height: 100%;
}
.profile-container{
    width: 100%;
    background-color: #fff;
    height: 100vh;
    display: flex;
}
.dp{
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: 3rem;
    height: 30%;
    width: 60%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}
.info{
    margin: 3rem;
    padding: 1.5rem;
}
.info div{
    margin-bottom: 1rem;
}
.name{
    font-weight: bold;
}
.edit{
    width: 80%;
    height: 3rem;
    font-weight: bold;
    align-items: center;
    border-radius: 0.5em;
    cursor: pointer;
    color:  #003049 ;
    border: 3px solid #003049 ;
}

.container-right{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-top: 1rem;
    padding-left: 4rem;
}
.heading-container h2{
    font-family: 'Poppins', sans-serif;
}
.streak-container{
    flex: 2;
}
.email-container{
    flex:1;
}
.address-container{
    flex: 1;
}
.container-right-bottom{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    justify-content: space-around;
}
@media (max-width: 768px) {
    /* Styles to apply when the viewport is 768px or less */
    .profile-container{
        flex-direction: column;
    }
    .container-left{
        width: 100%;
    }
    .container-right{
        width: 100%;
        background-color: #fff;
    }
    .dp{
        width: 40%;
        height: 35%;
    }
  }